.completed-sect{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 30px;
    h2{
        font-size: 13px;
        text-align: start;
        font-family: sans-serif;
        color: #444444;
        text-transform: uppercase;
        
    }
    .complete-container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        // border: 2px solid red;
        border-radius: 10px;
        padding: 10px;
        margin-top: 10px;
        box-shadow: 5px 5px 5px 0px  rgba(0, 0, 0, 0.2) ;
        
        div{
            display: flex;
            align-items: center;
            gap: 10px;
            
            input{
                border-radius: 50%;
                font-size: 20px;
                border: none;
                height: 2em;

            }
        
            svg{
                height: 40px;
            }
            h3{
                font-size: 15px;
                font-family: sans-serif;
                color: #444444;
            }
        }
        .complete{
            display: flex;
            flex-direction: row;
            // width: 100%;
            align-items: center;
            gap: 10px;
            
            
            svg{
                height: 15px;
            }
        }

    }
}

.dim {
    opacity: .3;
}