

@media screen and (max-width:600px){
    .mobile{
        .container{
            display: flex;
            flex-direction: column;
            width: 100px;
            position: absolute;
            border: 2px solid red;
            background: white;
            // justify-content: center;
            z-index: 1;
            left: 0px;
            top: 0              ;
            gap: 20px 0px;
            height: 100vh;
            padding-top: 20px;
            .icons{
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 10px;
                svg{
                    height: 30px;
                }
            }
            hr{
                // padding: 20px;
                justify-items: center;
             
                margin: 0 10px;
            }
        }
        
    }  
}
