* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.desktop {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.mobile {
  display: none;
}

@media screen and (max-width: 600px) {
  .desktop {
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
  }
  .mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    padding: 20px 30px;
    position: relative;
  }
  .mobile nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  .mobile nav svg {
    height: 30px;
  }
  .mobile nav .logo {
    display: flex;
    align-items: center;
  }
  .mobile nav .logo svg {
    height: 30px;
  }
  .mobile nav .logo h1 {
    font-size: 20px;
  }
  .mobile .input {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
    border-radius: 30px;
    background: rgba(136, 208, 208, 0.3019607843);
  }
  .mobile .input input {
    font-size: 20px;
    border-radius: 30px;
    outline: none;
    width: 100%;
    padding: 10px 10px;
    border: none;
    background: none;
  }
  .mobile .input svg {
    height: 30px;
  }
}
.todo-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 30px;
}
.todo-section h2 {
  font-size: 13px;
  text-align: start;
  font-family: sans-serif;
  color: #444444;
}
.todo-section .todo-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-radius: 10px;
  padding: 10px;
  margin-top: 10px;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.2);
}
.todo-section .todo-container div {
  display: flex;
  align-items: center;
  gap: 10px;
}
.todo-section .todo-container div input {
  border-radius: 50%;
  font-size: 20px;
  border: none;
  height: 2em;
}
.todo-section .todo-container div svg {
  height: 40px;
}
.todo-section .todo-container div h3 {
  font-size: 15px;
  font-family: sans-serif;
  color: #444444;
}
.todo-section .todo-container .todo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.todo-section .todo-container .todo svg {
  height: 15px;
}

.completed-sect {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 30px;
}
.completed-sect h2 {
  font-size: 13px;
  text-align: start;
  font-family: sans-serif;
  color: #444444;
  text-transform: uppercase;
}
.completed-sect .complete-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-radius: 10px;
  padding: 10px;
  margin-top: 10px;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.2);
}
.completed-sect .complete-container div {
  display: flex;
  align-items: center;
  gap: 10px;
}
.completed-sect .complete-container div input {
  border-radius: 50%;
  font-size: 20px;
  border: none;
  height: 2em;
}
.completed-sect .complete-container div svg {
  height: 40px;
}
.completed-sect .complete-container div h3 {
  font-size: 15px;
  font-family: sans-serif;
  color: #444444;
}
.completed-sect .complete-container .complete {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.completed-sect .complete-container .complete svg {
  height: 15px;
}

@media screen and (max-width: 600px) {
  .mobile .container {
    display: flex;
    flex-direction: column;
    width: 100px;
    position: absolute;
    border: 2px solid red;
    background: white;
    z-index: 1;
    left: 0px;
    top: 0;
    gap: 20px 0px;
    height: 100vh;
    padding-top: 20px;
  }
  .mobile .container .icons {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
  }
  .mobile .container .icons svg {
    height: 30px;
  }
  .mobile .container hr {
    justify-items: center;
    margin: 0 10px;
  }
}

/*# sourceMappingURL=main.css.map */
